@import "https://fonts.googleapis.com/css2?family=Yaldevi&display=swap";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Yaldevi", sans-serif;
}

.container {
	background: rgba(220, 220, 208, 0.8);
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
}
